.leagues{
    margin-top: 20;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.leag{
    background: var(--box);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
.leag:hover{
    border: 2px solid red;

}
.leag img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}
@media (max-width: 520px) {
    .leagues{
        grid-template-columns: repeat(2, 1fr);
    }
}