.loader{
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    display: inline-flex;
    align-items: center;
    margin: -3px 0 -7px;
    animation: loading 0.7s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}