.login_page{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0,0,1) 10%, rgba(0,0,0,0.1), rgba(0,0,0,0.8) 90%), url('/login-background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.form_container{
    text-align: center;
    margin: 0 20px;
}
.form{
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}
.switch{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.switch a{
    color: var(--primary);
    font-weight: 700;
}
.back_link{
    position: fixed;
    right: 40px;
    top: 20px;
}
.back_link div{
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 20px;
    font-weight: 600;
}
.back_link div svg {
    margin-right: 5px;
    font-size: 20px;
}