.match{
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* ads */
.ads{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.ad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid{
    width: 100%;
}
.progressBar{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background: var(--primary);
    animation: progress 25000ms ease-in 1;
}

@keyframes progress {
    from {
        right: 100%;
    }
    to{
        right: 0;
    }
}
/*====*/
.video_side{
    width: 75%;
}
.video_player{
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid var(--primary);
    position: relative;
}
.banner_not_allow{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url('/login-background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.banner_not_allow h1{
    text-align: center;
}
.banner_not_allow > div{
    text-align: center;
}
.cont_info{
    background: var(--box);
    background: var(--box);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.info_match{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team{
    text-align: center;
}
.team strong{
    display: block;
}
.timer_cont{
    display: flex;
    align-items: center;
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer_border{
    padding: 15px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin: 0 10px;
}
.timer .num{
    margin: 0 10px;
    text-align: center;
}
.timer .num strong{
    display: block;
    font-size: 20px;
}
.timer_head{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}
.league{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.league img{
    width: 40px;
    margin-left: 10px;
}

/* chat match */
.chat{
    background: var(--box);
    width: 23%;
    border-radius: 15px;
    overflow: auto;
    max-height: 730px;
}
.chat::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}
.chat::-webkit-scrollbar-thumb{
    width: 8px;
    background: var(--primary);
    border-radius: 20px;
}
.head_chat{
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    right: -20px;
    width: 100%;
    background: var(--box);
}

.head_chat h2{
    margin: 0 10px;
    padding: 15px;
    border-bottom: 2px solid var(--primary);

}
.form_chat{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 10px;
    padding: 20px;
    
}
.form_chat input{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: var(--back);
    z-index: 3;
}
.form_chat .buttons{
    position: absolute;
    left: 15px;
    top: 28%;
    transform: translateY(-50%);
    z-index: 4;
}
.form_chat .buttons svg{
    font-size: 30px;
    cursor: pointer;
}
.form_chat .buttons.active svg{
    color: var(--primary);
}
.comments{
    padding: 20px;
    min-height: 84%;
}
.comment{
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    background: var(--back);
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.comment img{
    width: 40px;
    margin-left: 10px;
}
.comment p{
    margin: 0;
}
.comment strong{
    font-size: 12px;
    color: #ccc;
    margin-bottom: 10px;
}
.cont_load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .video_side{
        width: 65%;
    }
    .chat{
        background: var(--box);
        width: 33%;
        border-radius: 15px;
        overflow: auto;
        max-height: 670px;
    }
    .team img{
        width: 80px;
    }
}

@media (max-width: 768px) {
    .match{
        display: block;
        justify-content: unset;
    }
    .video_side{
        width: 100%;
    }
    .chat{
        width: 100%;
        max-height: 670px;
        margin-top: 20px;
    }
    .timer_border{
        padding: 10px;
    }
    .timer .num strong{
        display: block;
        font-size: 16px;
    }
    .timer_head{
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 600;
    }
}
@media (max-width: 540px) {
    .team img{
        width: 60px;
    }
}
@media (max-width: 500px) {
    .team strong{
        font-size: 14px;
    }
    .team{
        max-width: 70px;
    }

}
@media (max-width: 480px) {
    .info_match{
        display: block;
        justify-content: unset;
    }
    .cont_team{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .timer_cont{
        justify-content: center;
    }
    .cont_team svg{
        font-size: 35px;
        color: var(--primary);
    }
    .timer_border{
        width: 100%;
    }
}