.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.profile h2{
    font-size: 30px;
    position: relative;
    padding-right: 15px;
}
.profile h2::before{
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 30px;
    width: 3px;
    background: var(--primary);
}
.avatar{
    background: var(--box);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.avatar img{
    border: 2px solid var(--primary);
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    width: 100px;
}
.avatar strong{
    font-size: 30px;
}
.info > div{
    padding: 15px;
    background: var(--box);
    border: 1px solid var(--primary);
    margin-bottom: 20px;
    border-radius: 15px;
}
.info strong{
    margin-left: 15px;
}
.plan_box{
    padding: 20px;
    border-radius: 15px;
    background: var(--box);
}
.head_plan{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.head_plan img{
    width: 70px;
    margin-left: 15px;
}
.head_plan strong{
    font-size: 20px;
}
.item_plan{
    margin: 15px 0;
    padding: 10px 0;
    background: var(--back);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_plan > div{
    display: inline-flex;
    align-items: end;
}
.item_plan > div.active svg{
    color: greenyellow;
    margin-right: 10px;
}
.item_plan span{
    color: #ccc;
    margin-left: 10px;
}

/* avatar select page */
.avatars_box{
    margin: 50px;
    overflow: hidden;
}
.avatars{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}
.avatars > div{
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--box);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.avatars > div img{
    width: 100%;
    height: auto;
}
.avatars > div.active{
    border-color: var(--primary);
}
.avatars > div svg{
    font-size: 30px;
    color: var(--primary);
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.avatars > div.active svg{
    opacity: 1;
}

@media (max-width: 700px) {
    .profile{
        display: block;
        grid-template-columns: unset;
        gap: unset;
    }
}